extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "最新消息";
	- var pageClassName = "product";

block style
	link(rel="stylesheet", href="/assets/styles/note.css")
	link(rel="stylesheet", href="/assets/styles/product-details.css")

block body
	main.dsLayout
		div.dsLayout__wrapper
			section.section
				div.dsLayout__fixedImgContainer.dsLayout__fixedImgContainer--active
					img.dsLayout__fixedImg(src="/assets/images/aura.png", alt="")
				div.title
					p.title__name.title__name--product
						|NATURA
						br
						|自然系列
				div.maintain
					+productForRugo({
						p:['522 霧光 Matte', '526 緞光 Satin', '528 半光 Semi Gloss'],
						li:['全壓克力乳膠基底', 'Color Lock 鎖色專利，色彩歷久不衰', '覆蓋力超強', '防止黴菌滋生', '容易擦洗', '零VOC', '低氣味']
					})


block script
