extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "案例分享";

block style
	link(rel="stylesheet", href="/assets/styles/note.css")

block body
	main.dsLayout
		div.dsLayout__wrapper
			section.section
				div.dsLayout__fixedImgContainer.dsLayout__fixedImgContainer--active
					img.dsLayout__fixedImg(src="/assets/images/show1.jpg", alt="")
				div.title
					p.title__description 2017.10.31
					p.title__name 新竹寶山 
				p.section__text 實際案例分享，新竹劉小姐透過網路找到美國班傑明．摩爾油漆，由於劉小姐住家大門長年日曬雨淋，流露出歲月的痕跡，然而換大門不僅做工複雜、過程雜亂、造價昂貴，我們建議她使用抗UV高光大門專用漆來更新她們家的大門，使用班傑明．摩爾油漆進行更新不僅省錢、省時、環保、變化多樣。
				img.section__img(src="/assets/images/showcase2.jpg", alt="")
				p.section__text 確認產品後，陪伴劉小姐挑選出最適合她的色彩，劉小姐因為房子本身配色的緣故，決定使用 2062-30 Blue Danube 一個深邃、沉穩、富有氣質的藍綠色來創造進入玄關前的第一印象。
				img.section__img(src="/assets/images/showcase3.jpg", alt="")
				a.section__back(href="/showcase/") 色彩靈感

block script