extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "聯絡我們";

block style
	link(rel="stylesheet", href="/assets/styles/contact.css")

block body
	main(class="dsLayout")
		div(class="dsLayout__wrapper")
			section(class="section")
				div(class="dsLayout__fixedImgContainer dsLayout__fixedImgContainer--active")
					img(class="dsLayout__fixedImg " src="/assets/images/test1.jpg", alt="")
				div(class="title")
					p(class="title__name") Contact us
					p(class="title__description") 班傑明·摩爾 (台灣)
				div(class="section__heading") 大直旗艦店
				div(class="section__text") 
					|104台北市中山區敬業一路128巷39號
					br
					|(02)8509-2017

block script

