extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "聯絡我們";
	- var pageClassName = "contact";

block style
	link(rel="stylesheet", href="/assets/styles/contact.css")
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
block body
	main(class="dsLayout")
		div(class="dsLayout__wrapper")
			section(class="section")
				div(class="dsLayout__fixedImgContainer dsLayout__fixedImgContainer--active")
					img(class="dsLayout__fixedImg " src="/assets/images/contact.jpg", alt="")
				div(class="title")
					p(class="title__name") Contact us
					p(class="title__description") 班傑明．摩爾 (台灣)
				div(class="section__heading") 大直旗艦店
				div(class="section__text") 
					ul(class="information")
						li(class="information__text")
							|104台北市中山區敬業一路128巷39號
							a(class="information__alone" href="https://www.google.com.tw/maps/place/10491%E5%8F%B0%E5%8C%97%E5%B8%82%E4%B8%AD%E5%B1%B1%E5%8D%80%E6%95%AC%E6%A5%AD%E4%B8%80%E8%B7%AF128%E5%B7%B739%E8%99%9F/@25.0834487,121.5513601,17z/data=!3m1!4b1!4m5!3m4!1s0x3442ac1192e23793:0x3bd81403f61fab2a!8m2!3d25.0834487!4d121.5535488" target="_blank")
								i(class="information__icon fa fa-map-marker" aria-hidden="true")
						li(class="information__text") 0800-627-000
						li(class="information__text") Email:bm@sensedesign.com.tw
						li(class="information__text")
							a(class="information__link" href="https://www.facebook.com/benjaminmooretaiwan/" target="_blank")
								i(class="information__icon fa fa-facebook-official" aria-hidden="true")
								span(class="information__fanspage") 班傑明摩爾粉絲團
						li(class="information__text")
							a(class="information__link" href="https://www.instagram.com/benjaminmooretaiwan/" target="_blank")
								i(class="information__icon fa fa-instagram" aria-hidden="true")
								span(class="information__fanspage") 班傑明摩爾instagram
block script

