extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "色彩靈感";

block style
	link(rel="stylesheet", href="/assets/styles/note.css")

block body
	main.dsLayout
		div.dsLayout__wrapper
			section.section
				div.dsLayout__fixedImgContainer.dsLayout__fixedImgContainer--active
					img.dsLayout__fixedImg(src="/assets/images/case1.jpg", alt="")
				div.title
					p.title__description 2017.11.30
						a.title__back(href="/inspiration/") 色彩靈感
					p.title__name 2018色彩趨勢 
				p.section__text "火鶴紅(Caliente) AF-290是現代建築傑作的一個標誌性色彩，它象徵著為迎接世界盛典而展開的紅地毯。它是一間擁有寶貴藏書的圖書館的自信背景，它是光耀前門塑造莊嚴的第一印象，我們的眼睛不由自主地被它牽引，激發激情的活力，駕馭生命的激情!"
				p.section__designer 班傑明．摩爾色彩設計部總監 EllenO'Neill
				img.section__img(src="/assets/images/case8.jpg", alt="")
				p.title__description 班傑明．摩爾 ( Benjamin Moore ) 展示火鶴紅(Caliente) AF-290作為2018的年度色彩
				p.section__text 我們很高興地宣布我們的2018年度流行主色-Caliente AF290，一個熱情洋溢、魅力十足的色彩!2018年度的高度預期的顏色和趨勢色彩昨晚在紐約所羅門．古根海姆博物館舉行的獨家活動中亮相，領導室內設計師、建築師和各大新聞媒體記者。
				img.section__img(src="/assets/images/case2.jpg", alt="")
				p.section__text 我們的色彩與設計團隊每年都會對12個國家的30個城市進行為期一年的研究之旅，預測顏色趨勢，旅行進10萬英里。七位色彩設計專家團隊參加超過20場在世界不同地方舉行的行業展會，從藝術、設計、建築、流行文化、時尚、居家用品等不同領域中獲取靈感與啟示，拍攝超過42,000張照片，從中發現了紅色無處不在的閃亮身影，體現出世界各地文化運動的變化、力量、信心和活力。
				a.section__back(href="/inspiration/") 色彩靈感
				img.section__img(src="/assets/images/case10.png", alt="")
				p.section__text 圖:以火鶴紅為主色而精心編排的23個趨勢色彩。共同組成2018室內流行色彩。
				p.section__text 這個建議色彩聚合了各式各樣的紅色，從淡淡的腮紅到無光澤的深紅色，以確保紅色與白色、中性色及相對色彩能根據不同的風格、氛圍進行靈活的互動，完整的搭配組合。
				p.section__text 為了表現紅色的多元化設計運用，班傑明．摩爾 ( Benjamin Moore ) 2018流行色彩可以用於不同的環境及氛圍，充分表達風格個性的需求，包括簡約的現代風格 (明豔大膽的紅)、田園風格 (用清新、時尚的紅色來做局部鋪陳)、海濱風格 (接近中性色度的紅色)及各種現代建築用紅色來展現橢圓線條的輪廓。
				p.section__text 班傑明．摩爾 ( Benjamin Moore )流行色彩空間表現及色彩效果僅能用於班傑明．摩爾 ( Benjamin Moore )產品呈現!
				p.section__text
					|資源來源:美國班傑明．摩爾 ( Benjamin Moore )工廠
					br
					|翻譯編輯:班傑明．摩爾 ( 台灣)


block script