extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "最新消息";
	- var pageClassName = "news";

block style
	link(rel="stylesheet", href="/assets/styles/news.css")

block body
	main.shLayout
	div.shLayout__wrapper
		section.section
			+news([
				{title:"POW WOW",text:"假字假字假字假字假字假字假字"},
				{title:"最新消息2",text:"假字假字假字假字假字假字假字"},
				{title:"最新消息3",text:"假字假字假字假字假字假字假字"},
				{title:"最新消息4",text:"假字假字假字假字假字假字假字"},
				{title:"最新消息5",text:"假字假字假字假字假字假字假字"},
				{title:"最新消息6",text:"假字假字假字假字假字假字假字"},
				{title:"最新消息7",text:"假字假字假字假字假字假字假字"},
				{title:"最新消息8",text:"假字假字假字假字假字假字假字"}
			])


			//- ul.news
			//- 	li.news__item
			//- 		a.news__link
			//- 			div.news__imgTextContainer
			//- 			div.news__textBox
			//- 				h2.news__tittle
			//- 				p.news__text
			//- 			div.background


block script
