extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "最新消息";
	- var pageClassName = "news";

block style
	link(rel="stylesheet", href="/assets/styles/news.css")

block body
	main.shLayout
	div.shLayout__wrapper
		section.section
			canvas(class="gallery__fakeGrid")
			+gallery([
				{title:"最新消息0",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/news/page1/"}
			])

			//- ul.news
			//- 	li.news__item
			//- 		a.news__link
			//- 			div.news__imgTextContainer
			//- 			div.news__textBox
			//- 				h2.news__tittle
			//- 				p.news__text
			//- 			div.background


block script
	script(src="/assets/scripts/fakegrid.js")