extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "首頁";

block style
	link(rel="stylesheet", href="/assets/styles/homepage.css")

block body
	main
		section.homepage
			.slider
				.slider__item.slider__item--active(style="background-image: url('/assets/images/homepage-2.jpg')")
				.slider__item(style="background-image: url('/assets/images/homepage-1.jpg')")
				//- .slider__item(style="background-image: url('/assets/images/test3.jpg')")
			.news
				.news__title
					p 新訊
				ul.news__content
					li.news__text
						a.news__link(href="https://www.facebook.com/benjaminmooretaiwan/", target="_blank") 新訊測試1新訊測試1新訊測試1新訊測試1新訊測試1新訊測試1
					li.news__text
						a.news__link(href="https://www.facebook.com/benjaminmooretaiwan/", target="_blank") 新訊測試2
					li.news__text
						a.news__link(href="https://www.facebook.com/benjaminmooretaiwan/", target="_blank") 新訊測試3新訊測試3新訊測試3新訊測試3新訊測試3新訊測試3新訊測試3
					li.news__text
						a.news__link(href="https://www.facebook.com/benjaminmooretaiwan/", target="_blank") 新訊測試4新訊測試4
	
block script
	//- script(src="/assets/scripts/slider.js")
	script(src="assets/scripts/homepage.js")
