@charset "UTF-8";
@import "_common.scss";

// main.fcLayout
//     image
//       canvas.image__canvas
//     ui
//       ui__top
//         color-info
//           color-info__name
//           color-info__color
//           color-info__like-btn
//           color-info__collect-btn
//         color-picker
//           color-picker__title
//           color-picker__wheel
//       ui__bottom
//         color-select
//           color-select__title
//           color-select__list
//             color-select__color
//     collection

* {
	box-sizing: border-box;
}

.fcLayout {
	position: relative;
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	justify-content: flex-end;
	padding: 0;
	@media screen and (max-width: $breakpoint-md ) {
	    flex-wrap: wrap;
	}
	.image {
		position: relative;
		width: calc(100% - 400px);
		height: 100%;
		background-color: #333;
		overflow: hidden;
		&__canvas {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: auto;
			transform: translate(-50%, -50%);
			@media screen and (max-width: $breakpoint-md ) {
				position: relative;
			    width: 100%;
			    height: auto;
			}
			&--heightFirst {
				width: auto;
				height: 100%;
				@media screen and (max-width: $breakpoint-md ) {
				    width: 100%;
				    height: auto;
				}
			}
		}
		@media screen and (max-width: $breakpoint-md ) {
		    width: 100%;
		    height: auto;
		}
	}
	.ui {
		position: relative;
		width: 350px;
		height: 100%;
		background-color: #777;
		@media screen and (max-width: $breakpoint-md ) {
		    width: 100%;
		    height: auto;
		}
		&__top {
			position: relative;
			width: 100%;
			height: 350px;
			display: flex;
			flex-direction: column;
			// align-items: center;
			background-color: #FFF;
			padding: 50px 40px 30px 40px;
			.color-info {
				display: flex;
				align-items: center;
				// justify-content: space-around;
				margin-bottom: 20px;
				div {
					margin-right: 10px;
				}
				&__name {
					font-size: 0.9em;
				}
				&__color {
					width: 35px;
					height: 35px;
					border-radius: 100%;
					background-color: #B0C8C8;
				}
				&__like-btn {
					width: 35px;
					height: 35px;
					border-radius: 100%;
					border: 1px solid #000;
				}
				&__collect-btn {
					display: none;
				}
			}
			.color-picker {
				display: flex;
				align-items: center;
				flex-direction: column;
				// justify-content: space-around;
				margin-bottom: 20px;
				&__title {
					font-size: 1.2em;
					align-self: flex-start;
					margin-bottom: 20px;
				}
				&__wheel {

				}
			}
		}
		&__bottom {
			position: relative;
			width: 100%;
			height: calc(100% - 350px);
			background-color: #eee;
			padding: 50px 40px 30px 40px;
			.color-select {
				&__title {
					margin-bottom: 20px;
					font-size: 1.2em;
				}
				&__list {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					overflow: scroll;
				}
				&__color {
					width: 40px;
					height: 40px;
					border-radius: 100%;
					border: 1px solid #000;
					margin: 10px 20px 10px 0;
					cursor: pointer;
				}
			}
		}

	}
	.collection {
		position: relative;
		width: 50px;
		height: 100%;
		background-color: #ddd;
		@media screen and (max-width: $breakpoint-md ) {
		    display: none;
		}
	}

	#color-picker {
		position: absolute;
		top: -9999px;
	}
}
	