@charset "UTF-8";
@import "_common.scss";

// main.fcLayout
//     image
//       canvas.image__canvas
//     ui
//       ui__top
//         color-info
//           color-info__name
//           color-info__color
//           color-info__like-btn
//           color-info__collect-btn
//         color-picker
//           color-picker__title
//           color-picker__wheel
//       ui__bottom
//         color-select
//           color-select__title
//           color-select__list
//             color-select__color
//     collection

* {
	box-sizing: border-box;
}

.fcLayout {
	position: relative;
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	justify-content: flex-start;
	padding: 0;
	// margin-left: 0;
	transform: translateX(0px);
	transition: 0.3s;
	// overflow-y: hidden;
	@media screen and (max-width: $breakpoint-md ) {
	    flex-wrap: wrap;
	}
	&--collection-active {
		// margin-left: -250px;
		transform: translateX(-250px); 
		@media screen and (max-width: $breakpoint-md ) {
		    // margin-left: 0;
		    transform: translateX(0px);
		}
	}
	.image {
		position: relative;
		width: calc(100% - 400px);
		flex: 0 0 auto;
		height: 100%;
		background-color: #333;
		overflow: hidden;
		&__canvas {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: auto;
			transform: translate(-50%, -50%);
			@media screen and (max-width: $breakpoint-md ) {
				position: relative;
			    width: 100%;
			    height: auto;
			}
			&--heightFirst {
				width: auto;
				height: 100%;
				@media screen and (max-width: $breakpoint-md ) {
				    width: 100%;
				    height: auto;
				}
			}
		}
		@media screen and (max-width: $breakpoint-md ) {
		    width: 100%;
		    height: auto;
		}
	}
	.ui {
		position: relative;
		width: 350px;
		height: 100%;
		flex: 0 0 auto;
		overflow: hidden;
		@media screen and (max-width: $breakpoint-md ) {
		    width: 100%;
		    height: auto;
		}
		&__top {
			position: relative;
			width: 100%;
			height: 350px;
			display: flex;
			flex-direction: column;
			// align-items: center;
			background-color: #FFF;
			padding: 50px 40px 30px 40px;
			.color-info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 20px;
				&__name {
					font-size: 0.9em;
				}
				&__color {
					width: 35px;
					height: 35px;
					border-radius: 100%;
					background-color: #B0C8C8;
					border: 1px solid #ccc;
					margin-right: 10px;
				}
				&__btn-list {
					display: flex;
					align-items: center;
				}
				&__like-btn {
					width: 35px;
					height: 35px;
					border-radius: 100%;
					// border: 1px solid #000;
					background-image: url("../images/like_btn.png");
					background-size: 100% 100%;
					cursor: pointer;
					&--liked {
						background-image: url("../images/like_btn_liked.png");
					}
				}
				&__collect-btn {
					display: none;
				}
			}
			.color-picker {
				display: flex;
				align-items: center;
				flex-direction: column;
				// justify-content: space-around;
				margin-bottom: 20px;
				&__title {
					font-size: 1.2em;
					align-self: flex-start;
					margin-bottom: 20px;
				}
				&__wheel {

				}
			}
		}
		&__bottom {
			position: relative;
			width: 100%;
			height: calc(100% - 350px);
			background-color: #f9f9f9;
			padding: 50px 40px 30px 40px;
			.color-select {
				height: 100%;
				&__title {
					margin-bottom: 20px;
					font-size: 1.2em;
				}
				&__list {
					width: 100%;
					height: 100%;
					padding-bottom: 20px;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					// align-items: center;
					align-content: flex-start;
					overflow: scroll;
				}
				&__color {
					width: 40px;
					height: 40px;
					border-radius: 100%;
					border: 1px solid #000;
					margin: 10px 20px 10px 0;
					cursor: pointer;
					&--selected {
						border: 2px solid #000;
					}
				}
			}
		}

	}
	// .collection__container
	// 	.collection__btn-list
	// 		.collection__edit-btn
	// 		.collection__mail-btn
	// 	.collection__title 
	// 	.collection__list
	// 		.color-item
	// 			.color-item__delete-btn
	// 			.color-item__color
	// 			.color-item__name 
	.collection {
		position: relative;
		width: 350px;
		height: 100%;
		flex: 0 0 auto;
		background-color: #ebebeb;
		display: flex;
		justify-content: flex-start;
		@media screen and (max-width: $breakpoint-md ) {
		    display: none;
		}
		&__opener {
			height: 100%;
			width: 50px;
			// background-color: #444;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		&__icon {
			width: 60%;
		}
		&__container {
			height: 100%;
			width: calc(100% - 50px);
			display: flex;
			flex-direction: column;
			padding: 50px 0;
		}
		&__btn-list {
			display: flex;
			justify-content: flex-start;
			margin-bottom: 30px;
		}
		&__edit-btn {
			width: 35px;
			height: 35px;
			background-image: url("../images/edit_btn.png");
			background-size: 100% 100%;
			cursor: pointer;
			margin-right: 10px;
			&--selected {
				background-image: url("../images/edit_btn_selected.png");
			}
		}
		&__mail-btn {
			width: 35px;
			height: 35px;
			background-image: url("../images/mail_btn.png");
			background-size: 100% 100%;
			cursor: pointer;
		}
		&__title {
			font-size: 1.2em;
		}
		&__list {
			margin-top: 20px;
		}
		.color-item {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			&__delete-btn {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 1px solid #ccc;
				background-color: #bbb;
				color: #777;
				font-size: 0.8em;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 5px;
				cursor: pointer;
				display: none;
				&--active {
					display: flex;
				}
			}
			&__color {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 1px solid #ccc;
				background-color: #B0C8C8;
				margin-right: 8px;
			}
			&__name {
				font-size: 0.9em;
			}
		}
	}

	#color-picker {
		position: absolute;
		top: -9999px;
	}
}
	