@charset "UTF-8";
@import "_common.scss";


.dsLayout{
	left: 50%;
	&__fixedImgContainer{
		left: 0%;
	}
	@media screen and (max-width: $breakpoint-md){
		left: 0%;	
		&__fixedImgContainer{
			left: 50%;
		}
	}
}
.section{
	&:first-child{
		margin-top: 50px;
		margin-bottom: 0;
	}

	@media screen and (max-width: $breakpoint-md){
		&:first-child{
			margin-top: 0px;
		}
	}
	&__designer{
		font-size: 1em;
		line-height: 1.8em;
		letter-spacing: 0.1em;
		text-align: right;
		margin: 2em 0;
		&:before{
			content: '';
			display: inline-block;
			height:1px;
			width: 40px;
			vertical-align: middle;
			margin-right: 10px;
			background-color: black;

		}
	    @media screen and (max-width: $breakpoint-md ) {
		    font-size: 0.9em;
	    }
	    @media screen and (max-width: 430px){
	    	text-align: justify;
	    }
	}
	&__img{
		width: 100%;
		margin: 2em 0;
	}
	
}
.title{
	&__back{
		text-align: justify;
	    font-size: 1em;
	    line-height: 1.8em;
	    letter-spacing: 0.1em;
		&:after{
			content: '\21c0';
			display: inline-block;
		}
		@media screen and (max-width: $breakpoint-xl){
			display: none;
		}
	}
	&__description:first-child{
		display: flex;
		justify-content: space-between;
	}
}