@charset "UTF-8";
@import "_common.scss";

.prLayout{
	width: 100%;
	padding: 0px;
	&__wrapper{
		width: 100%;
	}
	
	
}
.level{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	&__imgTextContainer{
		width: 100%;
		position: relative;
	}
	&__img{
		transition:.5s;
	}
	&__text{
		box-sizing:border-box;
		margin: 20px 0px;
		transition:.3s;
	}
	&__eng{
		margin-bottom: 10px;
	}
	&__sticker{
		position: absolute;
	    top: 20px;
	    left: 20px;
	    padding: 10px 15px 10px 15px;
	    border: 2px solid #878787;
	    letter-spacing: 3px;
	    color:#878787;
	    transition:.3s;
	    border-radius: 6px;
	    // margin-right: auto;
	    // margin-left: 35px;
	    // box-sizing: border-box;
	    // padding: 10px 15px 10px 15px;
	    // border: 1px solid #CCC;
	    // letter-spacing: 3px;
	    @media screen and (max-width: $breakpoint-xl){
	    	position: static;
	    	margin-right: auto;
	    	margin-left: 15px;
	    	margin-top: 15px;
	    }
	}
	&__item{
		width: 25%;
		position: relative;
		text-align: center;
		background-color: #EFEFEF;
		cursor:pointer;
		display: flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
		&:hover .level__img{
			transform: scale(1.4, 1.4) translateY(20px);
		}
		&:hover .level__text{
			opacity: 0;
		}
		&:hover .level__sticker{
			opacity: 0;
		}
		&:nth-child(8n+2),
		&:nth-child(8n+4),
		&:nth-child(8n+5),
		&:nth-child(8n+7){
			background-color:#E5E5E5;
		}
		@media screen and (max-width: $breakpoint-lg){
			width: 33%;
			&:nth-child(8n+2),
			&:nth-child(8n+4),
			&:nth-child(8n+5),
			&:nth-child(8n+7){
				background-color:#EFEFEF;
			}
			&:nth-child(6n+2),
			&:nth-child(6n+4),
			&:nth-child(6n+6){
				background-color:#E5E5E5;
			}
		}
		@media screen and (max-width: 650px){
			width: 50%;
			&:nth-child(6n+2),
			&:nth-child(6n+4),
			&:nth-child(6n+6){
				background-color:#EFEFEF;
			}
			&:nth-child(4n+2){
				background-color:#E5E5E5;
			}
			&:nth-child(4n+3){
				background-color:#E5E5E5;
			}
		}
		@media screen and (max-width: 320px){
			width: 100%;
			&:nth-child(4n+2){
				background-color:#EFEFEF;
			}
			&:nth-child(4n+3){
				background-color:#EFEFEF;
			}
			&:nth-child(even){
				background-color: #E5E5E5;
			}
		}
	}
}
.section{
	margin: 0;
}