@charset "UTF-8";
@import "_common.scss";

.dsLayout{
	&__fixedImgContainer{
		background-color: #EFEFEF;
		@media screen and (max-width: $breakpoint-md){
			text-align: center;
			box-sizing:border-box;
			padding:20px 0;
		}
		&:before{
			@media screen and (max-width: $breakpoint-md){
				padding-top: 0%;
			}
		}
	}
	&__fixedImg{
		width: 100%;
		max-width: 400px;
		@media screen and (max-width: $breakpoint-lg){
			width: 70%;
		}
		@media screen and (max-width: $breakpoint-md){
			width: 40%;
		}
		&--heightFirst{
			height: auto;
		}
		@media screen and (max-width: $breakpoint-md){
			position: static;
			transform:translate(0,0);
		}
	}
}

.section:first-child{
	margin-top: 50px ;
	@media screen and (max-width: $breakpoint-md){
		margin-top: 0;
	}
}

.section {
	&__text{
		margin: 10px 0;
		&:nth-of-type(1){
			margin-top: 2em;
		}
	}
}
.details{
	width: 100%;
    margin: 1em 0;
    &__item{
    	display: flex;
    	margin-top: 10px;
    	font-size: 1em;
    	line-height: 1.6em;
    	&:before{
    		content: '．';
    		display: block;
    		margin-right: 5px
    	}
    }
}


.maintain {
	margin-top: 40px;

	p {
	    font-size: 1em;
	    margin: 10px 0;
	    letter-spacing: 0.1em;
	    text-align: justify;
	    line-height: 1.4em;
	}

	ul {
		width: 100%;
    	margin: 30px 0;
	    li {
		    font-size: 1em;
		    margin: 10px 0;
		    line-height: 1.4em;
			&:before {
	    		content: '．';
	    		display: inline;
	    		margin-right: 5px
	    	}
	    }
	}
}


.return {
	@media screen and (max-width: $breakpoint-xs){
		&__text {
			display: none;
		}
	}
}