@charset "UTF-8";
@import "_common.scss";

.prLayout{
	width: 100%;
	padding: 0px;
	&__wrapper{
		width: 100%;
	}
	
	
}
.level{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	&__imgTextContainer{
		width: 100%;
		box-sizing:border-box;
		padding-top: 30px;
		
	}
	&__img{
		transition:.5s;
	}
	&__text{
		box-sizing:border-box;
		padding: 20px 0px;
		transition:.3s;
	}
	&__eng{
		margin-bottom: 10px;
	}
	&__item{
		width: 25%;
		text-align: center;
		background-color: #EFEFEF;
		cursor:pointer;
		&:hover .level__img{
			transform: scale(1.4, 1.4) translateY(20px);
		}
		&:hover .level__text{
			opacity: 0;
		}
		&:nth-child(8n+2),
		&:nth-child(8n+4),
		&:nth-child(8n+5),
		&:nth-child(8n+7){
			background-color:#E5E5E5;
		}
		@media screen and (max-width: $breakpoint-lg){
			width: 33%;
			&:nth-child(8n+2),
			&:nth-child(8n+4),
			&:nth-child(8n+5),
			&:nth-child(8n+7){
				background-color:#EFEFEF;
			}
			&:nth-child(6n+2),
			&:nth-child(6n+4),
			&:nth-child(6n+6){
				background-color:#E5E5E5;
			}
		}
		@media screen and (max-width: 650px){
			width: 50%;
			&:nth-child(6n+2),
			&:nth-child(6n+4),
			&:nth-child(6n+6){
				background-color:#EFEFEF;
			}
			&:nth-child(4n+2){
				background-color:#E5E5E5;
			}
			&:nth-child(4n+3){
				background-color:#E5E5E5;
			}
		}
		@media screen and (max-width: 320px){
			width: 100%;
			&:nth-child(4n+2){
				background-color:#EFEFEF;
			}
			&:nth-child(4n+3){
				background-color:#EFEFEF;
			}
			&:nth-child(even){
				background-color: #E5E5E5;
			}
		}
	}
}
.section{
	margin: 0;
}