@charset "UTF-8";
@import "_common.scss";

.shLayout{
	width: 100%;
	padding: 0px;
	&__wrapper{
		width: 100%;
	}
}
.section{
	margin-bottom: 0;
}


// @mixin grid-line ($cols) {
//     @for $i from 1 through $cols {
//         .col- {
//             width: ($i / $cols) * 100%;
//         }
//     }
// }
// /****** grid  ******/
// @include grid-line(12);