extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "色彩靈感";

block style
	link(rel="stylesheet", href="/assets/styles/inspiration.css")

block body
	main.inLayout
		div.inLayout__wrapper
			section.section
				+ideal([
					{title:"2018色彩趨勢",text:"假字假字假字假字假字假字"},
					{title:"2017色彩趨勢",text:"假字假字假字假字假字假字"},
					{title:"2016色彩趨勢",text:"假字假字假字假字假字假字"},
					{title:"秋冬居家色彩",text:"假字假字假字假字假字假字"},
					{title:"2018色彩趨勢",text:"假字假字假字假字假字假字"},
					{title:"2017色彩趨勢",text:"假字假字假字假字假字假字"},
					{title:"2016色彩趨勢",text:"假字假字假字假字假字假字"},
					{title:"春夏家居色彩",text:"假字假字假字假字假字假字"},
					{title:"2018色彩趨勢",text:"假字假字假字假字假字假字"}
				])

			//- ul.ideal
			//- 	li.ideal__item
			//- 		div.ideal__imgTextContainer
			//- 			div.ideal__textBox
			//- 				h2.ideal__tittle
			//- 				p.ideal__text
			//- 		div.background

block script
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")
	//- script.
	//- 	if( device.desktop() == true ) ulResize();

	//- 	$(window).on('resize',checkSize);

	//- 	function checkSize(){
	//- 		if( device.desktop() == true ) ulResize();
	//- 	}

	//- 	function ulResize(){
	//- 		var wh = window.innerHeight ,
	//- 			headerHeight = $('.header').innerHeight() ,
	//- 			forLi = wh - headerHeight;

	//- 		$('.ideal__item').css('height',forLi/2);
	//- 	}

	//- 	$('.ideal__item').hover(function(){
	//- 		$(this).children('.ideal__imgTextContainer').addClass('ideal__imgTextContainer--active');
	//- 	},function(){
	//- 		$(this).children('.ideal__imgTextContainer').removeClass('ideal__imgTextContainer--active');
	//- 	})