extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "色彩靈感";
	- var pageClassName = "inspiration";

block style
	link(rel="stylesheet", href="/assets/styles/inspiration.css")

block body
	main.inLayout
		div.inLayout__wrapper
			section.section
				+gallery([
					{title:"2018色彩趨勢",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感1",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感2",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感3",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感4",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感5",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感6",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感7",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"},
					{title:"色彩靈感8",text:"假字假字假字假字假字假字假字", img:"/assets/images/case1.jpg", link:"/inspiration/page1/"}
				])

			//- ul.idea
			//- 	li.idea__item
			//- 		a.idea__link
			//- 			div.idea__imgTextContainer
			//- 			div.idea__textBox
			//- 				h2.idea__tittle
			//- 				p.idea__text
			//- 			div.background

block script
