extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "尋找顏色";
	- var pageClassName = "findcolor";

block style
	link(rel="stylesheet", href="/assets/styles/draw.css")

block body
	main.fcLayout
		.image
			canvas#canvas.image__canvas
		.ui
			.ui__top
				a.back-btn(href="/findcolor") 回上一頁→
				.color-info
					.color-info__name 
					.color-info__btn-list
						.color-info__color
						.color-info__like-btn
						.color-info__collect-btn
			.ui__bottom
				.color-picker
					.color-picker__title 選擇色系
					.color-picker__wheel
						.h
							.h__picker-container
								.h__picker
						.sv
							.sv__picker
				.color-select
					.color-select__title 選擇產品顏色
					.color-select__list
		.collection
			.collection__btn-close
				span
				span
			.collection__opener
				img.collection__icon(src="/assets/images/collectbox_icon.png", alt="")
			.collection__container
				.collection__btn-list
					.collection__edit-btn
					.collection__mail-btn
				.collection__title 我收藏的顏色
				.collection__list
					//- .color-item
					//- 	.color-item__delete-btn ×
					//- 	.color-item__color
					//- 	.color-item__name Stonington Gray HC-170
block script
	script(src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js")
	script(src="/assets/scripts/lib/color.min.js")
	script(src="/assets/scripts/draw.js")