extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "尋找顏色";

block style
	link(rel="stylesheet", href="/assets/scripts/lib/farbtastic/farbtastic.css")
	link(rel="stylesheet", href="/assets/styles/draw.css")

block body
	main.fcLayout
		.image
			canvas#canvas.image__canvas
			//- img.image__canvas(src="/assets/images/draw1.jpg", alt="")
		.ui
			.ui__top
				.color-info
					.color-info__name 
					.color-info__btn-list
						.color-info__color
						.color-info__like-btn
						.color-info__collect-btn
				.color-picker
					.color-picker__title 選擇色系
					.color-picker__wheel
			.ui__bottom
				.color-select
					.color-select__title 選擇產品顏色
					.color-select__list
		.collection
			.collection__btn-close
				span
				span
			.collection__opener
				img.collection__icon(src="/assets/images/collectbox_icon.png", alt="")
			.collection__container
				.collection__btn-list
					.collection__edit-btn
					.collection__mail-btn
				.collection__title 我收藏的顏色
				.collection__list
					//- .color-item
					//- 	.color-item__delete-btn ×
					//- 	.color-item__color
					//- 	.color-item__name Stonington Gray HC-170



		//- input#color-picker
block script
	script(src="/assets/scripts/lib/farbtastic/farbtastic.js")
	script(src="/assets/scripts/draw.js")