extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "尋找顏色";

block style
	link(rel="stylesheet", href="/assets/styles/findcolor.css")

block body
	main.dsLayout
		div.dsLayout__wrapper
			section.section
				div.title
					h1.title__name 尋找顏色
					p.title__description 選擇空間 找出適合你的顏色
		div.dsLayout__fixedImgContainer
			+space([
				{title:"01",text:"餐廳"},
				{title:"02",text:"臥室"},
				{title:"03",text:"客廳"},
				{title:"04",text:"浴室"}
			])



			//- ul.space
			//- 	li.space__item
			//- 		div.space__imgTextContainer
			//- 			div.space__textBox
			//- 				h2.spcae__tittle
			//- 				p.spcae__text
			//- 		div.space__background
block script

