extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "產品特色";

block style
	link(rel="stylesheet", href="/assets/styles/product.css")

block body
	main.prLayout
		div.prLayout__wrapper
			section.section
				+level([
					{url:"aura",title:"AURA",name:"永恆系列",sticker:"室內漆"},
					{url:"natura",title:"NATURA",name:"自然系列",sticker:"室內漆"},
					{url:"regal-select",title:"REGAL SELECT",name:"經典系列",sticker:"室內漆"},
					{url:"ultra-spec-500",title:"ULTRA SPEC 500",name:"極致系列",sticker:"室內漆"},
					{url:"aura-2",title:"AURA",name:"永恆系列",sticker:"室外漆"},
					{url:"fresh-start",title:"FRESH START",name:"多功能底漆",sticker:"底漆"},
					{url:"natura-primer",title:"NATURA PRIMER",name:"自然系列",sticker:"底漆"},
					{url:"untra-spec-500-primer",title:"UNTRA SPEC 500 PRIMER",name:"極致系列",sticker:"底漆"},
					{url:"ultra-spec-hp-acrylic-metal-prime",title:"ULTRA SPEC HP ACRYLIC METAL PRIME",name:"極致系列",sticker:"底漆"},
					{url:"sure-seal-latex-primer-sealer",title:"SURE SEAL LATEX PRIMER SEALER",name:"戶外底漆",sticker:"底漆"},
					{url:"advance-unterior-paint-primer",title:"ADVANCE INTERIOR PAINT- PRIMER",name:"木器底漆",sticker:"底漆"},
					{url:"ceiling-paint",title:"CEILING PAINT",name:"天花板漆",sticker:"特殊漆"},
					{url:"aura-bath&spa",title:"AURA Bath&Spa",name:"浴室專用漆",sticker:"特殊漆"},
					{url:"scuff-x",title:"SCUFF-X",name:"超耐磨漆",sticker:"特殊漆"},
					{url:"chalkboard-paint",title:"Chalkboard Paint",name:"黑板漆",sticker:"特殊漆"},
					{url:"studio-paint",title:"Studio Paint",name:"工藝漆",sticker:"特殊漆"},
					{url:"insl-x-stix-waterborne-bonding-primer",title:"INSL-X STIX® WATERBORNE BONDING PRIMER",name:"特殊底漆",sticker:"易速客系列"},
					{url:"insl-x-waterblock",title:"INSL-X WATERBLOCK",name:"防水漆",sticker:"易速客系列"},
					{url:"insl-x-sure-step-acrylic-anti-slip-coating",title:"INSL-X  SURE STEP® ACRYLIC ANTI-SLIP COATING",name:"防滑漆",sticker:"易速客系列"},
					{url:"advance",title:"ADVANCE",name:"木器漆",sticker:"木器漆"},
					{url:"grand-entrance",title:"GRAND ENTRANCE",name:"大門漆",sticker:"木器漆"},
					{url:"grand-entrance",title:"STAYS CLEAR",name:"透明漆",sticker:"木器漆"}
				])


				//- ul.level
				//- 	li.level__item
				//- 		div.prLayout__imgTextContainer
				//- 			img.prLayout__img(src="https://api.fnkr.net/testimg/350x200/FFF/?text=Oil")
				//- 			div.prLayout__text
				//- 				h3.prLayout__eng oil
				//- 				p.prLayout__chi 油


block script
	//- script(src="//cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")
	//- script.
	//- 	if( device.desktop() == true ) ulResize();
		
	//- 	$(window).on('resize',checkSize);

	//- 	function checkSize(){
	//- 		if( device.desktop() == true ) ulResize();
	//- 	}

	//- 	function ulResize(){
	//- 		var wh = window.innerHeight ,
	//- 			headerHeight = $('.header').innerHeight() ,
	//- 			forLi = wh - headerHeight;

	//- 		$('.level__item').css('height',forLi/2);
	//- 	}