extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "案例分享";

block style
	link(rel="stylesheet", href="/assets/styles/showcase.css")

block body
	main.shLayout
	div.shLayout__wrapper
		section.section
			+case([
				{title:"台北松山",text:"假字假字假字假字假字假字"},
				{title:"台北內湖",text:"假字假字假字假字假字假字"},
				{title:"台北中山",text:"假字假字假字假字假字假字"},
				{title:"台北五股",text:"假字假字假字假字假字假字"},
				{title:"台北信義",text:"假字假字假字假字假字假字"},
				{title:"台北三重",text:"假字假字假字假字假字假字"},
				{title:"台北蘆洲",text:"假字假字假字假字假字假字"},
				{title:"台北板橋",text:"假字假字假字假字假字假字"},
				{title:"台北新莊",text:"假字假字假字假字假字假字"}
			])


			//- ul.case
			//- 	li.case__item
			//- 		div.case__imgTextContainer
			//- 			div.case__textBox
			//- 				h2.case__tittle
			//- 				p.case__text

block script
	script(src="//cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js")
	script.
		if( device.desktop() == true ) ulResize();

		$(window).on('resize',ulResize);

		function checkSize(){
			if( device.desktop() == true ) ulResize();
		}

		function ulResize(){
			var wh = window.innerHeight ,
				headerHeight = $('.header').innerHeight() ,
				forLi = wh - headerHeight;

			$('.case__item').css('height',forLi/2);
		}

		$('.case__item').hover(function(){
			$(this).children('.case__imgTextContainer').addClass('case__imgTextContainer--active');
		},function(){
			$(this).children('.case__imgTextContainer').removeClass('case__imgTextContainer--active');
		})
