extends /jadeTemplate/_layout.jade

block variables
	- var pageTitle = "案例分享";

block style
	link(rel="stylesheet", href="/assets/styles/showcase.css")

block body
	main.shLayout
	div.shLayout__wrapper
		section.section
			+case([
				{title:"新竹寶山",text:"假字假字假字假字假字假字假字"},
				{title:"案例分享2",text:"假字假字假字假字假字假字假字"},
				{title:"案例分享3",text:"假字假字假字假字假字假字假字"},
				{title:"案例分享4",text:"假字假字假字假字假字假字假字"},
				{title:"案例分享5",text:"假字假字假字假字假字假字假字"},
				{title:"案例分享6",text:"假字假字假字假字假字假字假字"},
				{title:"案例分享7",text:"假字假字假字假字假字假字假字"},
				{title:"案例分享8",text:"假字假字假字假字假字假字假字"}
			])


			//- ul.case
			//- 	li.case__item
			//- 		a.case__link
			//- 			div.case__imgTextContainer
			//- 			div.case__textBox
			//- 				h2.case__tittle
			//- 				p.case__text
			//- 			div.background

block script

